header {
  background-color: #212729;
}
section{
  background-color: #212729;
}

.container-header{
padding-top: 40px;
}

.portada{
  background-image:
    url("../images/fondo-header.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
}

.portada-enlaces{
  border-top: 100px;
}

.img-perfil{
  padding-top: 15px;
}

.portada-columna-perfil{
  text-align: center;
}

.portada-encabezados{
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  margin:20px;
  text-shadow: 4px 2px 1px rgba(255,255,255,0.6);
  text-transform: uppercase;
}

.btn-conectarme{

}

.redes-sociales{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.enlaces-secciones{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imagen-redes-sociales{
  width: 60px;
  height: 60px;
}

.enlaces-secciones-a{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(0,0,0,0.4);
}

.btn-enviar{
  width: 140px;
}

.etiquetas-formulario{
  color:white
}

.borde-formulario{

}

.seccion-contactarme{

}
