body {
  background-color: #212729;
}

.container-header{
  padding-top: 40px;
}

.portada{
  background-image:
    url("../images/fondo-header.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
}

.portada-enlaces{
  border-top: 100px;
}

.img-perfil{
  padding-top: 15px;
}

.portada-columna-perfil{
  text-align: center;
}

.portada-encabezados{
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  margin:20px;
  text-shadow: 4px 2px 1px rgba(255,255,255,0.6);
  text-transform: uppercase;
}

.btn-conectarme{

}

.redes-sociales{
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.enlaces-secciones{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.imagen-redes-sociales{
  width: 60px;
  height: 60px;
}

.enlaces-secciones-a{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(0,0,0,0.4);
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  border-color: black;
  margin: 5px;
  padding: 10px 28px 10px 28px;
  box-shadow: 4px 4px 6px gray;
}

.btn-enviar{
  width: 140px;
}

.etiquetas-formulario{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 18px;
  text-shadow: 4px 2px 1px rgba(0,0,0,0.4);
}

.etiquetas-leyend{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 22px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(0,0,0,0.4);
}

.borde-formulario{
border-style: solid;
border-width: medium;
border-radius: 6px;
border-color: black;
margin: 10px;
padding: 20px;

}

.seccion-contactarme{
  margin: 20px;
  padding: 10px;
}

.footer-leyenda{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 16px;
  margin:20px 10px 20px 10px;
}

.seccion-acercademi{

}

.seccion-acercademi-contenedor{
  margin-top: 100px;
}

.seccion-acercademi-titulo{
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  font-size: 48px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(239,184,16,0.4);
  padding: 10px 28px 10px 28px;
  text-align: center;
}

.seccion-acercademi-subtitulos{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(239,184,16,0.4);
  border-style: solid;
  border-width: thin;
  border-radius: 16px;
  border-color: #EFB810;
  padding: 10px 28px 10px 28px;
  box-shadow: 4px 4px 6px rgba(239,184,16,0.4);
  text-align: center;
}

.seccion-acercademi-parrafo{
color: white;
padding: 10px 28px 10px 28px;
text-align: justify;
}

.enlaces-retroceder-acercademi{
  width: 60px;
  height: 60px;
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 26px;
  margin: 60px;
  padding: 10px;
  text-shadow: 4px 2px 1px rgba(239,184,16,0.4);
  border-style: solid;
  border-width: thin;
  border-radius: 30px;
  border-color: #EFB810;
  box-shadow: 4px 4px 6px rgba(239,184,16,0.4);
  text-align: center;
  text-decoration: none;
}

.seccion-herramientas{

}

.seccion-herramientas-contenedor{
  margin-top: 100px;
}

.seccion-herramientas-titulo{
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  font-size: 48px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(0,170,228,0.4);
  padding: 10px 28px 10px 28px;
  text-align: center;
}

.seccion-herramientas-subtitulos{
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 20px;
  margin:20px 10px 20px 10px;
  text-shadow: 4px 2px 1px rgba(239,184,16,0.4);
  border-style: solid;
  border-width: thin;
  border-radius: 16px;
  border-color: #EFB810;
  padding: 10px 28px 10px 28px;
  box-shadow: 4px 4px 6px rgba(239,184,16,0.4);
  text-align: center;
}

.seccion-herramientas-parrafo{
color: white;
padding: 10px 28px 10px 28px;
text-align: justify;
}

.enlaces-retroceder-herramientas{
  width: 60px;
  height: 60px;
  font-family: serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: white;
  font-size: 26px;
  margin: 60px;
  padding: 10px;
  text-shadow: 4px 2px 1px rgba(0,170,228,0.4);
  border-style: solid;
  border-width: thin;
  border-radius: 30px;
  border-color: #00AAE4;
  box-shadow: 4px 4px 6px rgba(0,170,228,0.4);
  text-align: center;
  text-decoration: none;
}
